body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #f8f9fa;
    padding: 1em;
}

nav form {
    display: flex;
    justify-content: center;
}

nav input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    margin-right: 0.5em;
}

nav button {
    padding: 0.5em 1em;
    font-size: 1em;
}

.content {
    padding: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.news-section {
    flex-wrap: wrap;
    display: grid;
    gap: 10px;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr); /* 4 columns on desktop */
}

.news-item {
    position: relative;
    width: calc(33.333% - 20px);
    height: 300px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 120px;
}

.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    backdrop-filter: blur(5px);
    transition: background 0.3s;
}

.news-content p,
.news-content h3,
.news-content .sentiment {
    margin: 2rm;
}

.news-content a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.news-content a:hover {
    color: #ffd700; /* Gold color for hover effect */
}

.sentiment {
    margin-top: 10px;
}

.sentiment-label {
    font-weight: bold;
}

.sentiment-tag {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: capitalize;
}

.sentiment-tag.bullish {
    background-color: #17d321;
}

.sentiment-tag.somewhat-bullish {
    background-color: #07acff;
    color: #000;
}

.sentiment-tag.neutral {
    background-color: #6c757d;
}

.sentiment-tag.somewhat-bearish {
    background-color: #fd7e14;
}

.sentiment-tag.bearish {
    background-color: #dc3545;
}

@media (max-width: 1024px) {
    .news-section {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }
}

@media (max-width: 768px) {
    .news-section {
        grid-template-columns: 1fr; /* 1 column on mobile */
    }
}
