:root {
    --background-color: #f9f9f9;
    --text-color: #333333;
    --primary-color: #1e90ff;
    --secondary-color: #ff6347;
    --border-color: #cccccc;
    --hover-bg-color: #e6e6e6;
    --accent-color: #ff4500;
}

body.light-theme {
    --background-color: #f9f9f9;
    --text-color: #333333;
    --primary-color: #1e90ff;
    --secondary-color: #ff6347;
    --border-color: #cccccc;
    --hover-bg-color: #e6e6e6;
    --accent-color: #ff4500;
}

body.dark-theme {
    --background-color: #1c1c1c;
    --text-color: #d3d3d3;
    --primary-color: #1e90ff;
    --secondary-color: #ff6347;
    --border-color: #444444;
    --hover-bg-color: #2c2c2c;
    --accent-color: #ff4500;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    background-color: var(--background-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav form {
    display: flex;
    justify-content: center;
}

nav input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    margin-right: 0.5em;
    background-color: var(--hover-bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

nav button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
}

nav button#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.content {
    padding: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
    background-color: var(--background-color);
}

table,
th,
td {
    border: 1px solid var(--border-color);
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--hover-bg-color);
}

/* General styles */
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 10px;
}

/* Ensure content wraps on smaller screens */
.left-half,
.right-half {
    padding: 10px;
    box-sizing: border-box;
    /* Ensure padding and borders are included in the element's total width and height */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .right-half {
        order: 1;
    }

    .left-half {
        order: 2;
    }
}

#company-overview {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#chart,
#earnings-chart {
    max-height: 400px;
}

.gridjs-container {
    font-size: 12px;
}

.gridjs-header .gridjs-th {
    white-space: nowrap;
}

.gridjs-td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
}

/* Watchlist Styles */
.watchlist-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
}

.watchlist-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.watchlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.watchlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--hover-bg-color);
    transition: background-color 0.3s ease;
}

.watchlist-item:hover {
    background-color: var(--hover-bg-color);
}

.watchlist-link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    transition: color 0.3s ease;
}

.watchlist-link:hover {
    color: var(--accent-color);
}

.watchlist-name {
    font-weight: bold;
}

.watchlist-form {
    margin: 0;
}

.remove-button {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
}

.remove-button:hover {
    color: var(--accent-color);
}

/* Company Overview Styles */
.company-overview-container {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
}

.company-overview-container h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.overview-grid-desc {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.overview-item-desc {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--hover-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.overview-item-desc:hover {
    background-color: var(--hover-bg-color);
}

.overview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.overview-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--hover-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.overview-item:hover {
    background-color: var(--hover-bg-color);
}

.overview-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

.overview-value {
    color: var(--text-color);
}


/* Analyst Ratings Styles */
.analyst-ratings-container {
    width: 98%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
}

.analyst-ratings-container h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.rating-scale {
    display: flex;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.rating-level {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    transition: flex 0.3s ease;
    white-space: nowrap;
}

.rating-level span {
    padding: 0 10px;
}

.strong-buy {
    background-color: #4caf50;
    /* Green */
}

.buy {
    background-color: #8bc34a;
    /* Light Green */
}

.hold {
    background-color: #ffeb3b;
    /* Yellow */
    color: #333;
}

.sell {
    background-color: #ff9800;
    /* Orange */
}

.strong-sell {
    background-color: #f44336;
    /* Red */
}

.accordion {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
}

.accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--hover-bg-color);
    border-bottom: 1px solid var(--border-color);
}

.accordion-button {
    flex: 1;
    text-align: center;
    background-color: var(--hover-bg-color);
    border: none;
    outline: none;
    padding: 18px;
    font-size: 16px;
    transition: background-color 0.4s, box-shadow 0.4s;
    cursor: pointer;
    border-radius: 5px 5px;
    border-right: 1px solid var(--border-color);
    color: var(--text-color);
}

.accordion-button:last-child {
    border-right: none;
}

.accordion-button:hover,
.accordion-button:focus {
    background-color: var(--hover-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-content {
    display: none;
    padding: 18px;
    background-color: var(--background-color);
    border-top: none;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: max-height 0.4s ease;
}

.toggle-container {
    margin-bottom: 20px;
    background-color: var(--hover-bg-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column-toggles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.column-toggles .toggle {
    display: flex;
    align-items: center;
    background-color: var(--hover-bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.4s, box-shadow 0.4s;
}

.column-toggles .toggle:hover {
    background-color: var(--hover-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column-toggles label {
    margin-left: 5px;
    font-size: 14px;
    color: var(--text-color);
}


.news-section {
    flex-wrap: wrap;
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns on desktop */
}

.news-item {
    position: relative;
    width: calc(33.333% - 20px);
    height: 250px;
    /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 125px;
}

.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    backdrop-filter: blur(5px);
    transition: background 0.3s;
}

.news-content p,
.news-content h3,
.news-content .sentiment {
    margin: 2rm;
}

.news-content a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.news-content a:hover {
    color: #ffd700;
    /* Gold color for hover effect */
}

.sentiment {
    margin-top: 10px;
}

.sentiment-label {
    font-weight: bold;
}

.sentiment-tag {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: capitalize;
}

.sentiment-tag.bullish {
    background-color: #007302;
}

.sentiment-tag.somewhat-bullish {
    background-color: #60ff9d;
    color: #000;
}

.sentiment-tag.neutral {
    background-color: #6c757d;
}

.sentiment-tag.somewhat-bearish {
    background-color: #fd7e14;
}

.sentiment-tag.bearish {
    background-color: #dc3545;
}

@media (max-width: 1024px) {
    .news-section {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on tablets */
    }
}

@media (max-width: 768px) {
    .news-section {
        grid-template-columns: 1fr;
        /* 1 column on mobile */
    }

    .news-item {
        padding: 150px;
    }
}
