{% extends "analysis/base.html" %}

{% block title %}Public Homepage{% endblock %}

{% block content %}
<h1>Welcome to the Finance Analyzer</h1>

<h3>Top Gainers News</h3>
<div class="news-section">
    {% for news in news_data %}
        <div class="news-item" style="background-image: url('{{ news.banner_image }}');">
            <div class="news-content">
                <p><strong>Source:</strong> {{ news.source }}</p>
                <h3><a href="{{ news.url }}" target="_blank">{{ news.title }}</a></h3>
                <p>{{ news.summary }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
