{% extends "analysis/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Stock Analysis{% endblock %}

{% block content %}
<div class="content-wrapper" data-symbol="{{ symbol }}">
    <h1>Stock Data for {{ symbol }}</h1>

    <div class="main-content">

        <div class="left-half">
            {% if user.is_authenticated %}
            {% if in_watchlist %}
                <form method="post" action="{% url 'remove_from_watchlist_from_stock' %}">
                    {% csrf_token %}
                    <input type="hidden" name="symbol" value="{{ symbol }}">
                    <button type="submit">Remove from Watchlist</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'add_to_watchlist_from_stock' %}">
                    {% csrf_token %}
                    <input type="hidden" name="symbol" value="{{ symbol }}">
                    <input type="hidden" name="name" value="{{ stock_name }}">
                    <button type="submit">Add to Watchlist</button>
                </form>
            {% endif %}
            {% endif %}
            <div style="max-width: 100%; height: 400px;">
                <div style="z-index: -1;" id="chart"></div>
            </div>
            <div class="analyst-ratings-container">
                <h3>Analyst Ratings</h3>
                <div class="rating-scale">
                    {% if analyst_ratings.strong_buy > 0 %}
                        <div class="rating-level strong-buy" style="flex: {{ analyst_ratings.strong_buy }};">
                            <span>Strong Buy ({{ analyst_ratings.strong_buy }})</span>
                        </div>
                    {% endif %}
                    {% if analyst_ratings.buy > 0 %}
                        <div class="rating-level buy" style="flex: {{ analyst_ratings.buy }};">
                            <span>Buy ({{ analyst_ratings.buy }})</span>
                        </div>
                    {% endif %}
                    {% if analyst_ratings.hold > 0 %}
                        <div class="rating-level hold" style="flex: {{ analyst_ratings.hold }};">
                            <span>Hold ({{ analyst_ratings.hold }})</span>
                        </div>
                    {% endif %}
                    {% if analyst_ratings.sell > 0 %}
                        <div class="rating-level sell" style="flex: {{ analyst_ratings.sell }};">
                            <span>Sell ({{ analyst_ratings.sell }})</span>
                        </div>
                    {% endif %}
                    {% if analyst_ratings.strong_sell > 0 %}
                        <div class="rating-level strong-sell" style="flex: {{ analyst_ratings.strong_sell }};">
                            <span>Strong Sell ({{ analyst_ratings.strong_sell }})</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="right-half">
            <!--<div id="company-overview">
                <div id="company-overview-grid"></div>
            </div> -->

            <div class="company-overview-container">
                <h2>{{ stock_name }} ({{ symbol }}) Overview</h2>
                <div class="overview-grid-desc">
                    <div class="overview-item-desc">
                        <span class="overview-value">{{ fundamental_overview_data.OVERVIEW.Description }}</span>
                    </div>
                </div>
                <div class="overview-grid">
                    <div class="overview-item">
                        <span class="overview-title">Sector:</span>
                        <span class="overview-value">{{ fundamental_overview_data.OVERVIEW.Sector }}</span>
                    </div>
                    <div class="overview-item">
                        <span class="overview-title">Industry:</span>
                        <span class="overview-value">{{ fundamental_overview_data.OVERVIEW.Industry }}</span>
                    </div>
                    <div class="overview-item">
                        <span class="overview-title">Market Capitalization:</span>
                        <span class="overview-value" id="market-cap" data-value="{{ fundamental_overview_data.OVERVIEW.MarketCapitalization }}">{{ fundamental_overview_data.OVERVIEW.MarketCapitalization }}</span>
                    </div>
                    <div class="overview-item">
                        <span class="overview-title">PE Ratio:</span>
                        <span class="overview-value">{{ fundamental_overview_data.OVERVIEW.PERatio }}</span>
                    </div>
                    <div class="overview-item">
                        <span class="overview-title">Dividend Yield:</span>
                        <span class="overview-value">{{ fundamental_overview_data.OVERVIEW.DividendYield }}</span>
                    </div>
                    <div class="overview-item">
                        <span class="overview-title">EPS:</span>
                        <span class="overview-value">{{ fundamental_overview_data.OVERVIEW.EPS }}</span>
                    </div>
                    <div class="overview-item">
                        <span class="overview-title">Book Value:</span>
                        <span class="overview-value">{{ fundamental_overview_data.OVERVIEW.BookValue }}</span>
                    </div>
                    <div class="overview-item">
                        <span class="overview-title">52 Week High:</span>
                        <span class="overview-value">{{ fundamental_overview_data.OVERVIEW.52WeekHigh }}</span>
                    </div>
                    <div class="overview-item">
                        <span class="overview-title">52 Week Low:</span>
                        <span class="overview-value">{{ fundamental_overview_data.OVERVIEW.52WeekLow }}</span>
                    </div>
                    <!-- Add more items as needed -->
                </div>
            </div>
            
        </div>

    </div>

    <div class="toggle-container">
        <label for="toggle-data">Select Data Type:</label>
        <select id="toggle-data">
            <option value="annual">Annual</option>
            <option value="quarterly">Quarterly</option>
        </select>
    </div>

    <div class="accordion">
        <div class="accordion-header">
            <button id="button-income-statement" class="accordion-button" aria-expanded="false" aria-controls="content-income-statement">
                Income Statement
                <span class="icon" aria-hidden="true"></span>
            </button>
            <button id="button-balance-sheet" class="accordion-button" aria-expanded="false" aria-controls="content-balance-sheet">
                Balance Sheet
                <span class="icon" aria-hidden="true"></span>
            </button>
            <button id="button-cash-flow" class="accordion-button" aria-expanded="false" aria-controls="content-cash-flow">
                Cash Flow
                <span class="icon" aria-hidden="true"></span>
            </button>
            <button id="button-earnings" class="accordion-button" aria-expanded="false" aria-controls="content-earnings">
                Earnings
                <span class="icon" aria-hidden="true"></span>
            </button>
        </div>
        <div class="accordion-content" id="content-income-statement">
            <div class="column-toggles" id="income-statement-toggles"></div>
            <div id="income-statement-grid"></div>
        </div>
        <div class="accordion-content" id="content-balance-sheet">
            <div class="column-toggles" id="balance-sheet-toggles"></div>
            <div id="balance-sheet-grid"></div>
        </div>
        <div class="accordion-content" id="content-cash-flow">
            <div class="column-toggles" id="cash-flow-toggles"></div>
            <div id="cash-flow-grid"></div>
        </div>
        <div class="accordion-content" id="content-earnings">
            <div class="column-toggles" id="earnings-toggles"></div>
            <div id="earnings-chart" style="max-height: 400px;"></div>
        </div>
    </div>
    
<h2>News</h2>
<div class="news-section">
    {% for news in news_data %}
        <div class="news-item" style="background-image: url('{{ news.banner_image }}');">
            <div class="news-content">
                <p><strong>Source:</strong> {{ news.source }}</p>
                <h3><a href="{{ news.url }}" target="_blank">{{ news.title }}</a></h3>
                <p>{{ news.summary }}</p>
                <div class="sentiment">
                    <span class="sentiment-label">Sentiment: </span>
                    <span class="sentiment-tag {{ news.overall_sentiment_label|lower }}">
                        {{ news.overall_sentiment_label }}
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<!-- Embed JSON data using script tags -->
<script type="application/json" id="time_series_data">{{ time_series|escapejs }}</script>
<script type="application/json" id="fundamental_data">{{ fundamental_data|escapejs }}</script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<script src="{% static 'js/stocks.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<style>
    /* General styles */
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        padding: 10px;
    }
    
    /* Ensure content wraps on smaller screens */
    .left-half, .right-half {
        padding: 10px;
        box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
    }
    
    /* Media query for mobile devices */
    @media (max-width: 768px) {
        .main-content {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
        }
        .right-half {
            order: 1;
        }
        .left-half {
            order: 2;
        }
    }
    
    
    

    #company-overview {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #chart, #earnings-chart {
        max-height: 400px;
    }

    .gridjs-container {
        font-size: 12px;
    }

    .gridjs-header .gridjs-th {
        white-space: nowrap;
    }

    .gridjs-td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 150px;
    }
</style>
{% endblock %}
